*{
/*	font-family: Verdana, sans-serif;*/
	text-decoration: none;
}
body{
	background-color: #F9EBC7;
	margin: 0px;
}
.header{
	width: 100%;
	height: 90px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #C4661F;
}
.titolo{
	text-align: left;
	font-size: 60px;
	color: #F9EBC7;
	padding-left: 15px;;
}
.login-button{
	width: 40px;
	padding-right: 30px;
}
.icon{
	float: right;
	padding-right: 30px;
}
.icon:hover{
	transform:  scale(1.05);
}
