<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/css/profile.css">
  <link rel="stylesheet" href="/css/global.css">
  <title>SiwFood</title>
</head>
<body>
	<header class="header">
		<a href="/">
			<div class="titolo">SiwFood</div>
		</a>
		
		<div class="buttons">
			
			
			<div th:unless="${cuocoDetails}">
				<a class="login-button" href="/login">
				<img class="icon"  src="/images/login.png" width="7%" >
			</a>
			</div>
			
			
			
			<div th:if="${cuocoDetails}">
				
				<a class="login-button" href="/profile">
				<img class="icon"  src="/images/account.png" width="7%" >
				
			</div>

			
	</header>
	
	
	
	
	
	  

</body>
</html>
